{
  "$schema": "https://opencode.ai/config.json",
  "plugin": [
    "@mohak34/opencode-notifier@latest",
    "opentmux",
    "@simonwjackson/opencode-direnv",
    "superpowers@git+https://github.com/obra/superpowers.git",
    "@tarquinen/opencode-dcp@latest",
		"opencode-plugin-auto-update"
  ],
  "formatter": false,
  "lsp": {
    "pyright": {
      "disabled": true
    },
    "basedpyright": {
      "command": ["{{ .chezmoi.homeDir }}/.local/share/nvim/mason/bin/basedpyright-langserver", "--stdio"],
      "extensions": [".py", ".pyi"],
      "initialization": {
        "basedpyright": {
          "analysis": {
            "autoImportCompletions": true,
            "autoSearchPaths": true,
            "diagnosticMode": "openFilesOnly"
          }
        }
      }
    }
  },
  "permission": {
    "bash": {
      "*": "ask",

      "apt autoremove *": "deny",
      "apt install *": "deny",
      "apt purge *": "deny",
      "apt remove *": "deny",
      "apt update*": "deny",
      "apt upgrade *": "deny",
      "apt *-upgrade*": "deny",

      "brew bundle *": "deny",
      "brew install *": "deny",
      "brew link *": "deny",
      "brew pin *": "deny",
      "brew remove *": "deny",
      "brew tap *": "deny",
      "brew uninstall *": "deny",
      "brew unlink *": "deny",
      "brew upgrade *": "deny",

      "clang-format *": "allow",

      "dnf erase *": "deny",
      "dnf install *": "deny",
      "dnf remove *": "deny",
      "dnf update *": "deny",

      "docker build *": "deny",
      "docker buildx *": "deny",
      "docker exec *": "deny",
      "docker image ls": "allow",
      "docker image ls *": "allow",
      "docker image prune *": "deny",
      "docker inspect *": "allow",
      "docker kill *": "deny",
      "docker login *": "deny",
      "docker logout *": "deny",
      "docker logs *": "allow",
      "docker network create *": "deny",
      "docker network inspect *": "allow",
      "docker network rm *": "deny",
      "docker ps": "allow",
      "docker ps *": "allow",
      "docker pull *": "deny",
      "docker push *": "deny",
      "docker rm *": "deny",
      "docker rmi *": "deny",
      "docker run *": "deny",
      "docker system info*": "allow",
      "docker stop *": "deny",
      "docker start *": "deny",
      "docker system prune *": "deny",
      "docker volume prune *": "deny",

      "false": "allow",
      "fd *": "allow",
      "find *": "allow",

      "gh pr diff *": "allow",
      "gh pr view *": "allow",
      "git add": "deny",
      "git add *": "deny",
      "git branch": "allow",
      "git branch -d *": "deny",
      "git branch -D *": "deny",
      "git branch --list": "allow",
      "git branch --list *": "allow",
      "git branch --show-current": "allow",
      "git checkout": "deny",
      "git checkout *": "deny",
      "git cherry-pick *": "deny",
      "git clean *": "deny",
      "git commit": "deny",
      "git commit *": "deny",
      "git diff": "allow",
      "git diff *": "allow",
      "git fetch": "allow",
      "git fetch *": "allow",
      "git grep *": "allow",
      "git log": "allow",
      "git log *": "allow",
      "git ls-files": "allow",
      "git ls-files *": "allow",
      "git ls-tree *": "allow",
      "git merge": "deny",
      "git merge *": "deny",
      "git mv *": "deny",
      "git push": "deny",
      "git push *": "deny",
      "git rebase": "deny",
      "git rebase *": "deny",
      "git remote -v": "allow",
      "git remote -v *": "allow",
      "git reset": "deny",
      "git reset *": "deny",
      "git rev-parse *": "allow",
      "git revert *": "deny",
      "git rm *": "deny",
      "git show": "allow",
      "git show *": "allow",
      "git stash list": "allow",
      "git stash list *": "allow",
      "git status": "allow",
      "git status *": "allow",
      "git stash *": "deny",
      "git tag *": "deny",
      "git tag -d *": "deny",

      "go build": "allow",
      "go build *": "allow",
      "go env": "allow",
      "go env *": "allow",
      "go list *": "allow",
      "go test": "allow",
      "go test *": "allow",
      "go vet *": "allow",

      "gofmt *": "allow",

      "grep *": "allow",

      "luac -p *": "allow",

      "nl *": "allow",

      "rm -rf *": "deny",

      "rpm -e *": "deny",
      "rpm -i *": "deny",
      "rpm -U *": "deny",
      "rpm --rebuilddb*": "deny",

      "service * restart": "deny",
      "service * start": "deny",
      "service * stop": "deny",

      "ssh *": "deny",
      "ssh": "deny",

      "su *": "deny",
      "sudo *": "deny",

      "systemctl disable *": "deny",
      "systemctl enable *": "deny",
      "systemctl is-active *": "allow",
      "systemctl is-enabled *": "allow",
      "systemctl list-units": "allow",
      "systemctl list-units *": "allow",
      "systemctl mask *": "deny",
      "systemctl reload *": "deny",
      "systemctl restart *": "deny",
      "systemctl start *": "deny",
      "systemctl status": "allow",
      "systemctl status *": "allow",
      "systemctl stop *": "deny",
      "systemctl unmask *": "deny",

      "true": "allow",

      "uname": "allow",
      "uname *": "allow",

      "wc *": "allow",
      "yum install *": "deny",
      "yum update *": "deny",
      "yum remove *": "deny",
      "yum erase *": "deny"
    },
    "read": {
      "*": "allow",

      "~/.config/age-chezmoi.txt": "deny",
      "~/.config/git/credentials": "deny",
      "~/.envrc": "deny",
      "~/.git-credentials": "deny",
      "~/.gnupg/**": "deny",
      "~/.kde/share/apps/kwallet/**": "deny",
      "~/.local/share/keyrings/**": "deny",
      "~/.local/share/kwalletd/**": "deny",
      "~/.ssh/**": "deny",

      "~/git/credentials/**": "deny",
      "~/Library/Keychains/**": "deny",

      "**/.env": "deny",
      "**/.env.*": "deny",
      "**/.envrc": "deny",
      "**/*.crt": "deny",
      "**/*.jks": "deny",
      "**/*.key": "deny",
      "**/*.keystore": "deny",
      "**/*.p12": "deny",
      "**/*.pem": "deny",
      "**/*.pfx": "deny",
      "**/*.pkey": "deny",
      "**/credentials.json": "deny",
    },
    "edit": {
      "*": "allow",

      "~/.bash*": "deny",
      "~/.config/age-chezmoi.txt": "deny",
      "~/.config/git/**": "deny",
      "~/.envrc": "deny",
      "~/.git-credentials": "deny",
      "~/.gitconfig": "deny",
      "~/.gnupg/**": "deny",
      "~/.kde/share/apps/kwallet/**": "deny",
      "~/.local/bin/**": "deny",
      "~/.local/share/keyrings/**": "deny",
      "~/.local/share/kwalletd/**": "deny",
      "~/.local/share/zsh/**": "deny",
      "~/.profile": "deny",
      "~/.ssh/**": "deny",
      "~/.z*.local": "deny",
      "~/.zaliases": "deny",
      "~/.zprofile": "deny",
      "~/.zshenv": "deny",
      "~/.zshrc": "deny",

      "~/bin/**": "deny",
      "~/git/credentials/**": "deny",
      "~/Library/Keychains/**": "deny",

      "**/.env": "deny",
      "**/.env.*": "deny",
      "**/.envrc": "deny",
      "**/*.crt": "deny",
      "**/*.jks": "deny",
      "**/*.key": "deny",
      "**/*.keystore": "deny",
      "**/*.p12": "deny",
      "**/*.pem": "deny",
      "**/*.pfx": "deny",
      "**/*.pkey": "deny",
      "**/credentials.json": "deny",

      "/bin/*": "deny",
      "/boot/*": "deny",
      "/etc/*": "deny",
      "/opt/homebrew/*": "deny",
      "/sbin/**": "deny",
      "/usr/bin/**": "deny",
      "/usr/local/bin/**": "deny",
      "/usr/local/sbin/**": "deny",
      "/usr/sbin/**": "deny"
    },
    "external_directory": {
      "~/Documents/dev-plans/**": "allow",
      {{- if eq .chezmoi.os "darwin" }}
      "~/Library/Application Support/go/**": "allow",
      {{- else }}
      "~/.local/state/go/**": "allow",
      {{- end }}
    }
  }
}
