# vim: set filetype=toml:

progress = true

[data]
	{{ $env := promptStringOnce .	"environment" "Chezmoi environment" -}}
	environment = "{{ $env }}"
	gpgkey = "FB298ABBE1D00A1C8FA4DC1FA8B51F5E8032CCE4"
	{{ $email := promptStringOnce . "email" "Contact email" -}}
	email = "{{ $email }}"

	[data.github]
		{{ $ghEmail := promptStringOnce . "github.email" "GitHub email" "jgoguen@jgoguen.ca" -}}
		email = "{{ $ghEmail }}"
		{{ $ghSigningKey := promptStringOnce . "github.gpgkey" "GitHub signing key" "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK5Z49qDHmr2+Io9lOzDCnb5QD4EERq6bJAOqYxD0THx" -}}
		gpgkey = "{{ $ghSigningKey }}"

[age]
	args = ["--armor"]

[edit]
	apply = true
	hardlink = false
	watch = true
