# vim: set filetype=toml:

encryption = "age"
progress = true

[age]
	identity = "{{ .chezmoi.homeDir }}/.config/age-chezmoi.txt"
	recipient = "age1gtldz4zwpt4280gamq5quy8sxy6rlkra4pt7wrfrq2fph4xwwcwq4jpj9s"

[cd]
	{{- if eq .chezmoi.os "windows" }}
	command = "pwsh.exe"
	args = ["-NoLogo"]
	{{- else }}
	args = ["-l"]
	{{- end }}

[data]
	{{ $env := promptStringOnce .	"environment" "Chezmoi environment" -}}
	environment = "{{ $env }}"
	gpgkey = "FB298ABBE1D00A1C8FA4DC1FA8B51F5E8032CCE4"
	{{ $email := promptStringOnce . "email" "Contact email" -}}
	email = "{{ $email }}"

	[data.github]
		{{ $ghEmail := promptStringOnce . "github.email" "GitHub email" "jgoguen@jgoguen.ca" -}}
		email = "{{ $ghEmail }}"
		{{ $ghSigningKey := promptStringOnce . "github.gpgkey" "GitHub signing key" "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK5Z49qDHmr2+Io9lOzDCnb5QD4EERq6bJAOqYxD0THx" -}}
		gpgkey = "{{ $ghSigningKey }}"

[diff]
	exclude = ["scripts"]

[edit]
	apply = true
	{{- if eq .chezmoi.os "windows" }}
	args = ["--wait"]
	command = "code"
	{{- end }}
	hardlink = false
	watch = true
