# vim: set filetype=conf noexpandtab ts=2 sts=2 sw=2 autoindent:
# vim: set foldmarker=[[[,]]] foldmethod=marker foldlevel=0:

progress = true

[data]
	{{ $env := promptStringOnce .	"environment" "Chezmoi environment" -}}
	environment = "{{ $env }}"
	gpgkey = "FB298ABBE1D00A1C8FA4DC1FA8B51F5E8032CCE4"
	username = "jgoguen"
	{{ $email := promptStringOnce . "email" "Contact email" -}}
	email = "{{ $email }}"

	[data.github]
		email = "jgoguen@jgoguen.ca"
		gpgkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK5Z49qDHmr2+Io9lOzDCnb5QD4EERq6bJAOqYxD0THx"

[age]
	args = ["--armor"]

[edit]
	apply = true
	hardlink = false
	watch = true
