#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brew -}}
brew {{ . | quote }}
{{ end -}}
{{ range (index .packages.darwin .environment "brew") -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.cask -}}
cask {{ . | quote }}
{{ end -}}
{{ range (index .packages.darwin .environment "cask") -}}
cask {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.mas -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
{{ range (index .packages.darwin .environment "mas") -}}
brew {{ .name | quote }}, id: {{ .id }}
{{ end -}}
EOF
{{ else if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "fedora" -}}
{{ range .packages.fedora.copr -}}
sudo dnf copr enable -y {{ . | quote }}
{{ end -}}

if ! rpm -qi rpmfusion-free-release-{{ .chezmoi.osRelease.versionID }} >/dev/null 2>&1 ; then
	sudo dnf install -y https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ .chezmoi.osRelease.versionID }}.noarch.rpm
fi
if ! rpm -qi rpmfusion-nonfree-release-{{ .chezmoi.osRelease.versionID }} >/dev/null 2>&1 ; then
	sudo dnf install -y https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ .chezmoi.osRelease.versionID }}.noarch.rpm
fi
sudo dnf install -y rpmfusion-free-appstream-data rpmfusion-nonfree-appstream-data

sudo dnf remove -y {{ .packages.fedora.removal | join " " }}
sudo dnf install -y {{ .packages.fedora.dnf | join " " }}

if command -v flatpak >/dev/null 2>&1 ; then
{{ range .packages.fedora.flatpak -}}
flatpak install -y {{ .remote }} {{ .name }}
{{ end -}}
fi
{{ end -}}
{{ end -}}
