<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.import-environment</string>

    <key>ProgramArguments</key>
    <array>
      <string>/opt/homebrew/bin/zsh</string>
      <string>{{ .chezmoi.homeDir }}/.local/bin/launchctl-environment.zsh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/local.import-environment-d.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/local.import-environment-d.stderr.log</string>
  </dict>
</plist>
