font_family      JetBrainsMono NF Regular
bold_font        auto
italic_font      auto
bold_italic_font auto

close_on_child_death yes
copy_on_select {{ if ne .chezmoi.os "linux" }}yes{{ else }}no{{ end }}
disable_ligatures never
enable_audio_bell no
{{ if eq .chezmoi.os "darwin" -}}
macos_quit_when_last_window_closed yes
macos_traditional_fullscreen no
{{- end }}
notify_on_cmd_finish unfocused
scrollback_fill_enlarged_window yes
scrollback_pager less --chop-long-lines --RAW-CONTROL-CHARS --dumb --quit-if-one-screen --no-init +INPUT_LINE_NUMBER
shell_integration disabled
show_hyperlink_targets yes
strip_trailing_spaces smart
tab_bar_edge top
tab_bar_style powerline
window_padding_width 2

# Key maps
# Next tab
map kitty_mod+right next_tab
map shift+cmd+]     next_tab
map ctrl+tab        next_tab
map ctrl+page_down  next_tab
{{ if eq .chezmoi.os "darwin" -}}
map super+right     next_tab
{{- end }}

#: Previous tab
map kitty_mod+left previous_tab
map shift+cmd+[    previous_tab
map ctrl+shift+tab previous_tab
map ctrl+page_up   previous_tab
{{ if eq .chezmoi.os "darwin" -}}
map super+left     previous_tab
{{- end }}

# Layout control
enabled_layouts splits:split_axis=horizontal
map kitty_mod+\ launch --location=vsplit
map kitty_mod+- launch --location=hsplit
map kitty_mod+s launch --location=split
map kitty_mod+h neighboring_window left
map kitty_mod+j neighboring_window down
map kitty_mod+k neighboring_window up
map kitty_mod+l neighboring_window right

#: The full list of actions that can be mapped to key presses is
#: available here <https://sw.kovidgoyal.net/kitty/actions/>.

#: Scroll to previous shell prompt
# map kitty_mod+z scroll_to_prompt -1

#: Scroll to next shell prompt
# map kitty_mod+x scroll_to_prompt 1

#: Browse scrollback buffer in pager
# map kitty_mod+h show_scrollback

#: Browse output of the last shell command in pager
# map kitty_mod+g show_last_command_output

include current-theme.conf
