snippet main
	int main(int argc char **argv) {
			${0}

			return 0;
	}

snippet nocxx
	#ifdef __cplusplus
	extern "C" {
	#endif

	${0}

	#ifdef __cplusplus
	} /* extern "C" */
	#endif

snippet calloc
	${1:ptr} = (${2:type}*)calloc(${3:size}, sizeof($2));
