trap {
	Write-Warning ($_.ScriptStackTrace | Out-String)
}

# Save all output, just in case! Thanks to @vexx32
$PSDefaultParameterValues['Out-Default:OutVariable'] = '__'

{{ range dig "packages" "windows" "powershell" (list) . -}}
Install-Module {{ . | quote }} -Scope CurrentUser
{{ end -}}

{{ with dig "packages" "windows" "winget" (list) . -}}
winget install --source winget --accept-package-agreements --uninstall-previous{{ range . }} {{ . | quote }}{{ end }}
{{ end -}}

{{ with dig "packages" "windows" "msstore" (list) . -}}
winget install --source msstore --accept-package-agreements --uninstall-previous{{ range . }} {{ . | quote }}{{ end }}
{{ end -}}

{{ range dig "packages" "windows" "scoop" "buckets" (list) . -}}
scoop bucket add {{ . | quote }}
{{ end -}}

{{ with dig "packages" "windows" "scoop" "packages" (list) . -}}
scoop install {{ range . }} {{ . | quote }}{{ end }}
{{ end -}}
