#!/bin/sh
# vim: set filetype=sh:

brew bundle --file=/dev/stdin <<EOF
{{ range or (.packages.darwin.brew (list)) -}}
brew {{ . | quote }}
{{ end }}
{{ range (dig "packages" "darwin" .environment "brew" (list) .) -}}
brew {{ . | quote }}
{{ end }}
{{ range .packages.darwin.cask -}}
cask {{ . | quote }}
{{ end }}
{{ range (index .packages.darwin .environment "cask") -}}
cask {{ . | quote }}
{{ end }}
{{ range .packages.darwin.mas -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end }}
{{ range (index .packages.darwin .environment "mas") -}}
brew {{ .name | quote }}, id: {{ .id }}
{{ end }}
EOF
