#!/bin/sh
# vim: set filetype=sh:

brew bundle --file=/dev/stdin <<EOF
{{ range (dig "packages" "darwin" "brew" (list) .) -}}
brew {{ . | quote }}
{{ end }}
{{ range (dig "packages" "darwin" .environment "brew" (list) .) -}}
brew {{ . | quote }}
{{ end }}
{{ range .packages.darwin.cask -}}
cask {{ . | quote }}
{{ end }}
{{ range (dig "packages" "darwin" .environment "cask" (list) .) -}}
cask {{ . | quote }}
{{ end }}
{{ range .packages.darwin.mas -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end }}
{{ range (dig "packages" "darwin" .environment "mas" (list) .) -}}
brew {{ .name | quote }}, id: {{ .id }}
{{ end }}
EOF
