local M = {
	{
		'zbirenbaum/copilot.lua',
		opts = {
			root_dir = function()
				return LazyVim.root() or LazyVim.root.cwd()
			end,
			filetypes = {
				norg = false,
				yaml = true,
			},
			{{ if eq .chezmoi.os "darwin" -}}
			copilot_node_command = "/opt/homebrew/bin/node"
			{{- end }}
		},
	},
	{
		'CopilotC-Nvim/CopilotChat.nvim',
		opts = {
			headers = {
				user = '  jgoguen ',
			},
		},
	},
}

return M
