{
  "name": "com.1password.1password",
  "description": "1Password BrowserSupport",
  "path": "{{ .chezmoi.homeDir }}/.var/app/com.vivaldi.Vivaldi/config/1password/1password-wrapper",
  "type": "stdio",
  "allowed_origins": [
    "chrome-extension://aeblfdkhhhdcdjpifhhbdiojplfjncoa/"
  ]
}
