#!/bin/sh

{{ if eq .chezmoi.osRelease.id "fedora" -}}
{{ range .packages.fedora.copr -}}
sudo dnf copr enable -y {{ . | quote }}
{{ end -}}

if ! rpm -qi rpmfusion-free-release-{{ .chezmoi.osRelease.versionID }} >/dev/null 2>&1 ; then
	sudo dnf install -y https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ .chezmoi.osRelease.versionID }}.noarch.rpm
fi
if ! rpm -qi rpmfusion-nonfree-release-{{ .chezmoi.osRelease.versionID }} >/dev/null 2>&1 ; then
	sudo dnf install -y https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ .chezmoi.osRelease.versionID }}.noarch.rpm
fi
sudo dnf install -y rpmfusion-free-appstream-data rpmfusion-nonfree-appstream-data

sudo dnf remove -y {{ .packages.fedora.removal | join " " }}
sudo dnf install -y {{ .packages.fedora.dnf | join " " }}

if command -v flatpak >/dev/null 2>&1 ; then
{{ range .packages.fedora.flatpak -}}
flatpak install -y {{ .remote }} {{ .name }}
{{ end -}}
fi
{{ end -}}
