#!/bin/sh
# vim: set filetype=sh:

SUDO="$(command -v doas)"
if [ -z "${SUDO}" ]; then
	SUDO="$(command -v sudo)"
fi

{{ if eq .chezmoi.osRelease.id "fedora" -}}
{{ range .packages.fedora.copr -}}
${SUDO} dnf copr enable -y {{ . | quote }}
{{ end }}

if ! rpm -qi rpmfusion-free-release-{{ .chezmoi.osRelease.versionID }} >/dev/null 2>&1; then
	${SUDO} dnf install -y https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ .chezmoi.osRelease.versionID }}.noarch.rpm
fi
if ! rpm -qi rpmfusion-nonfree-release-{{ .chezmoi.osRelease.versionID }} >/dev/null 2>&1; then
	${SUDO} dnf install -y https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ .chezmoi.osRelease.versionID }}.noarch.rpm
fi
if ! rpm -qi rpmfusion-nonfree-release-tainted-{{ .chezmoi.osRelease.versionID }} >/dev/null 2>&1; then
	${SUDO} dnf install -y https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-tainted-{{ .chezmoi.osRelease.versionID }}.noarch.rpm
fi
${SUDO} dnf install -y rpmfusion-free-appstream-data rpmfusion-nonfree-appstream-data

${SUDO} dnf remove -y {{ .packages.fedora.removal | join " " }}
${SUDO} dnf install -y {{ .packages.fedora.dnf | join " " }}
{{ else if eq .chezmoi.osRelease.id "arch" -}}
if command -v yay >/dev/null 2>&1; then
	yay -Sy --needed --noconfirm --removemake --answerclean NotInstalled --answerdiff None --answeredit None --norebuild --noredownload {{ .packages.arch.pacman | join " " }} {{ .packages.arch.aur | join " " }}
else
	${SUDO} pacman -Sy --needed --noconfirm {{ .packages.arch.pacman | join " " }}
fi
{{ else if eq .chezmoi.osRelease.id "debian" -}}
${SUDO} apt-get install -y {{ .packages.debian.apt | join " " }}
{{ end }}

if command -v flatpak >/dev/null 2>&1; then
	# Install Flatpak packages
	{{ range or (index .packages .chezmoi.osRelease.id "flatpak") (list) }}
	flatpak install -y {{ .remote }} {{ .name }}
	{{ end -}}
fi
