#!/bin/sh

set -eu

# Config dir modified Date: {{ (stat (joinPath .chezmoi.homeDir ".config/nvim")).modTime }}
{{- if ne (stat (joinPath .chezmoi.homeDir ".local/share/nvim/lazy")) nil }}
if [ -d "${XDG_DATA_HOME:-${HOME}/.local/share}/nvim/lazy/" ]; then
	nvim --headless "+Lazy! sync" +qa
else
	nvim --headless +qa
fi
{{- end }}
