#!/bin/sh
# vim: set filetype=sh:

set -u

# shellcheck source=../../helpers.sh
. "${HOME}/.local/share/chezmoi/helpers.sh"

SUDO="$(command -v doas)"
if [ -z "${SUDO}" ]; then
	SUDO="$(command -v sudo)"
fi
log "Elevating privileges using ${SUDO}" "DEBUG"

set -e

{{ range (index .system_files .chezmoi.os) }}
SYS_FILE="{{ or .location .file }}"
SRC_FILE="{{ $.chezmoi.sourceDir }}/.system-files{{ .file }}"

if [ ! -f "${SRC_FILE}" ]; then
	printf 'Expected source file %s is not present\n' >&2
	exit 1
fi

{{ if ne (or .only_if "") "" }}if [ {{ .only_if }} ]; then{{ end }}
	if ! cmp -s "${SRC_FILE}" "${SYS_FILE}"; then
		log "Updating system file: ${SYS_FILE}" "INFO"
		${SUDO} install -D -o {{ or .owner "root" }} -g {{ or .group "wheel" }} -m {{ or .mode "0644" }} "${SRC_FILE}" "${SYS_FILE}"
		{{ range (or .commands (list)) }}
		{{ . }}
		{{ end }}
	fi
{{ if ne (or .only_if "") "" }}fi{{ end }}
{{ end }}

