#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[aliases]
branches = ["bookmark", "list"]

[remotes.origin]
auto-track-bookmarks = "glob:main|glob:master|glob:jgoguen{{ if eq .environment "work" }}-mdb{{ end }}/push-*"
auto-track-created-bookmarks = "glob:main|glob:master|glob:jgoguen{{ if eq .environment "work" }}-mdb{{ end }}/push-*"

[revsets]
bookmark-advance-from = 'heads(::to & bookmarks())'
bookmark-advance-to = '@'

[signing]
backend = "ssh"
behavior = "own"
key = "{{ .github.gpgkey }}"
sign-all = true

[signing.backends.ssh]
allowed-signers = "{{ .chezmoi.homeDir }}/.config/git/allowed_signers"
program = "{{ if eq .chezmoi.os "darwin" }}/Applications/1Password.app/Contents/MacOS{{ else }}/opt/1Password{{ end }}/op-ssh-sign"

[templates]
draft_commit_description = '''
concat(
  if(
    description,
    concat(
      description,
      "\n"
    ),
    "\nJJ: 50-character title. # 50 characters is here    #\n\n\n"
  ),
  "\nJJ: Commit types for the title:\n",
  "JJ: feat: A new user-facing feature\n",
  "JJ: fix: A user-facing bug fix\n",
  "JJ: docs: Documentation changes\n",
  "JJ: style: Code/doc styling/formatting, net-zero change\n",
  "JJ: refactor: code refactoring, net-zero change\n",
  "JJ: test: Any changes to tests, no user-facing changes\n",
  "JJ: revert: Reverting a previous commit\n",
  "JJ: chore: Other grunt tasks with no user-facing changes\n",
  "JJ:n",
  "JJ: To denote a breaking change, add '!' after the type/scope\n",
  "JJ: fix(api)!: Change the whole API because I can\n",
  surround(
    "\nJJ: This commit contains the following changes:\n",
    "",
    indent("JJ: ", diff.stat(72)),
  ),
)
'''
git_push_bookmark = '"jgoguen{{ if eq .environment "work" }}-mdb{{ end }}/push-" ++ change_id.short()'

[ui]
conflict-marker-style = "git"
default-command = "log"
diff-formatter = ":git"
editor = "nvim"

[user]
email = "{{ .github.email }}"
name = "Joel Goguen"
