[system_files]

[[system_files.darwin]]
file = "/etc/pam.d/sudo_local"
mode = "0444"

[[system_files.linux]]
file = "/etc/firefox/policies/policies.json"
group = "root"

[[system_files.linux]]
file = "/etc/udev/rules.d/50-esp8266.rules"
group = "root"
commands = ["${SUDO} systemctl restart systemd-udevd"]

[[system_files.linux]]
file = "/etc/modprobe.d/nvidia.conf"
group = "root"
only_if = "-n \"$(lspci | grep -i nvidia)\""

[[system_files.linux]]
file = "/etc/modprobe.d/pcspkr.conf"
group = "root"

[[system_files.linux]]
file = "/etc/polkit-1/rules.d/00-ntp-and-time-zone.rules"

[[system_files.linux]]
file = "/etc/systemd/network/10-usb-interfaces.link"
group = "root"
commands = [
	"${SUDO} systemctl daemon-reload",
	"${SUDO} udevadm control --reload",
	"${SUDO} udevadm trigger -c add -s net",
]

[[system_files.linux]]
file = "/etc/systemd/network/11-internal-interfaces.link"
group = "root"
commands = [
	"${SUDO} systemctl daemon-reload",
	"${SUDO} udevadm control --reload",
	"${SUDO} udevadm trigger -c add -s net",
]

[[system_files.linux]]
file = "/etc/nsswitch.conf"
group = "root"
only_if = "-f /etc/arch-release"

[[system_files.linux]]
file = "/etc/1password/custom_allowed_browsers"
group = "root"

[[system_files.linux]]
file = "/etc/pacman.d/hooks/95-systemd-boot.hook"
group = "root"
only_if = "-f /boot/EFI/systemd/systemd-bootx64.efi"
